
.header {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

body {
  margin-top: 80px; 
}

.header:hover {
  background: linear-gradient(45deg, #2575fc, #6a11cb);
}


.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-toggle:hover {
  transform: rotate(90deg);
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff8a00;
}

nav a i {
  transition: transform 0.3s ease;
  font-size: 20px; 
}

nav a:hover i {
  transform: scale(1.2);
}

.logo {
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background: linear-gradient(135deg, #6a4df9, #4e36cc); 
  padding: 10px 30px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}


.logo:hover {
  transform: scale(1.1); 
  background: linear-gradient(135deg, #4e36cc, #6a4df9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #fff; 
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }


  nav {
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #2575fc;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 0 0 10px 10px;
  }

  nav.open {
    display: flex !important;
    opacity: 1;
    transform: translateY(0);
  }

  .logo {
    font-size: 28px; 
    padding: 8px 20px; 
    letter-spacing: 2px;
  }

  nav a i {
    font-size: 24px; 
    margin-right: 8px; 
  }

  nav a {
    justify-content: center;
  }
}
